@use '@angular/material' as mat;

@include mat.core();

// Define a custom theme using Material Design 3
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
    bold-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: 0,
  ),
));

@include mat.all-component-themes($theme);

// Global styles
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
